.additional {
    margin-top: 125px;
    @media (max-width: $tablets-max) {
        margin-top: 40px;
    }
}

.additional__items {
    margin-top: 40px;
}

.additional__item {
    @media (max-width: $mobiles-max) {
        width: 70%!important;
    }
}

.additional__text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 30px 0 48px;
}

.additional__link {
    min-height: 50px;
    border: 1px solid #FF7F00;
    color: #FF7F00;
    width: 205px;
    display: block;
    text-align: center;
    padding: 14px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.additional__img {
    width: 100%;
    height: 300px;
    @media (max-width: $mobiles-max) {
        height: 250px;
    }

    @media (max-width: 500px) {
        height: 200px;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.additional__wrapper {
    position: relative;
    .button-prev {
        display: none;
    }
    .button-next {
        width: 50px;
        height: 50px;
        background-color: #D6D6D6;
        border-radius: 50%;
        top: 28%;
        right: -26px;
        position: absolute;
        z-index: 2;
        &:after {
            display: none;
        }
        @media (max-width: 1450px) {
            right: 0;
        }
        @media (max-width: $mobiles-max) {
            display: none;
        }
    }
}