.design {

  .design__swiper {
    height: 500px;

    @media (max-width: $mobiles-max) {
      margin: 20px 0;
    }

    @media (max-width: 500px) {
      height: 450px;
    }
  }

  .swiper-slide {
    &-active {
      height: 100%!important;
    }
  }

  .swiper-pagination {

    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .swiper-pagination-bullets {
    top: 39%!important;
    left: 4px!important;
  }

  .swiper-pagination-bullet {
    width: 0;
    height: 0;
    transition: $transition-settings;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #9F9F9F;

    &-active {
      position: relative;
      color: $color-blue;
      height: 60px;
      color: $color-blue;

      &:after {
        position: absolute;
        content: "";
        width: 1px;
        top: 30px;
        left: 8px;
        background-color: $color-blue;
        height: 100%;
        z-index: 20;
      }
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}

.design__item {
  display: flex;

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    padding-left: 35px;
  }
}

.design__image {
  margin-left: 7.5%;
  width: 42.5%;
  margin-right: 11.2%;
  flex-shrink: 0;
  height: 500px;

  @media(max-width: 1299px) {
    margin-right: 3%;
    height: 450px;
  }

  @media (max-width: $tablets-max) {
    margin-right: 5%;
  }

  @media (max-width: $mobiles-max) {
    height: 300px;
    margin: 0;
    width: 100%;
    order: 2;
  }

  @media (max-width: 500px) {
    height: 150px;
  }

  @media (max-width: 400px) {
    height: 130px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.design__texts {
  width: 38.7%;
  flex-shrink: 0;
  padding: 73px 5% 73px 0;

  @media (max-width: $mobiles-max) {
    padding: 0;
    width: 100%;
  }

  h2 {
    margin-bottom: 40px;
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

    @media (max-width: $tablets-max) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}