.faq {
  padding-top: 14px;
  padding-bottom: 195px;

  @media (max-width: $mobiles-max) {
    margin-bottom: 36px;
  }
}

.faq__items {
  margin-top: 90px;

  @media (max-width: $mobiles-max) {
    margin-top: 31px;
  }
}

.faq__item {
  background-color: $color-white;
  cursor: pointer;
  border-bottom: 1px solid #6C6C6C;
  position: relative;
  padding: 22px 0;
  transition: $transition-settings;

  &::before {
    position: absolute;
    content: '';
    width: 31px;
    height: 1px;
    background-color: #6c6c6c;
    right: 33px;
    top: 34px;
    transition: $transition-settings;
  }

  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 31px;
    background-color: #6c6c6c;
    right: 48px;
    top: 18px;
    transition: $transition-settings;
  }

  &--active {
    &::before {
      position: absolute;

      background-color: $color-blue;
      right: 33px;
      top: 33px;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $color-blue;
      transform: rotate(45deg);

    }
  }

  &:first-of-type {
    border-top: 1px solid #6C6C6C;
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 15px;
  }
}

.faq__item-question {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-right: 10px;

  @media (max-width: $mobiles-max) {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
  }
}

.faq__item-text {
  width: 49%;
  padding-top: 19px;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin: 0;

    @media (max-width: $mobiles-max) {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 19px;
    }
  }
}

.faq__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobiles-max) {
  }
}

.faq__item-icon {
  width: 66px;
  height: 66px;

  @media (max-width: $mobiles-max) {
    width: 33.5px;
    height: 33.5px;
  }
}