.header {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.header__logo {
  width: 29%;
  margin-right: 6.5%;
}

.header__menu {
  display: flex;
  width: 29%;
  justify-content: space-between;
  margin-right: 6.5%;
  padding-top: 17px;
}

.header__contacts {
  width: 29%;
  justify-content: flex-end;
  display: flex;
  padding-top: 17px;
}

.header__logo-link {
  display: block;
  height: 100%;
  width: 200px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header__menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
}

.header__phone {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
}

.header__contact-us {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: $color-blue;
  text-transform: uppercase;
  margin-left: 22px;
}