.quote {
  margin: 123px 0;

  h3 {
    position: relative;
    padding-top: 185px;
    padding-left: 24%;
    padding-right: 16%;

    &:before {
      position: absolute;
      content: "";
      background-image: url('../img/quote.svg');
      top: 130px;
      left: 19%;
      width: 62px;
      height: 49px;
    }
  }
}