/*general*/
/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/open-sans-v20-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* stylelint-disable */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", "Arial", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0 auto;
  height: 100%;
  color: #2D2D2D;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
button:focus {
  outline: none !important;
}

h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
}
@media (max-width: 1023px) {
  h1 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 120%;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 1023px) {
  h2 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 120%;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #2D2D2D;
}
@media (max-width: 1023px) {
  h3 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 120%;
  }
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 20px 0;
}

.hidden {
  display: none i !important;
}

.show {
  display: block i !important;
}

[placeholder] {
  color: #F7F7F7;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:-webkit-input-placeholder {
  color: #F7F7F7;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:-moz-placeholder {
  color: #F7F7F7;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  color: #F7F7F7;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
  color: #F7F7F7;
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus[placeholder] {
  opacity: 0;
  outline: none;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  outline: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  outline: none;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  outline: none;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  outline: none;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a {
  color: #2D2D2D;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input,
textarea {
  color: #f4f4f4;
  opacity: 1 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container-wide {
  max-width: 100%;
}
@media (max-width: 1023px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.v-select,
.vs__dropdown-toggle,
.v-select input {
  cursor: pointer !important;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.error {
  border: 2px solid #DD3232 !important;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grecaptcha-badge {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.scroll-off {
  overflow: hidden;
}

@-webkit-keyframes move-gradient {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}

@keyframes move-gradient {
  from {
    background-position-x: left;
  }
  to {
    background-position-x: right;
  }
}
.slide-left-enter-active {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.slide-left-leave-active {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.slide-left-enter,
.slide-left-leave-to {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.fade-enter-active {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.form {
  background-color: #F7F7F7;
  padding: 70px;
  width: 41%;
  margin-top: 22px;
}
@media (min-width: 1024px) {
  .form--fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
@media (max-width: 1023px) {
  .form {
    padding: 50px;
    width: 70%;
    margin: 30px auto 0;
    min-height: 450px;
  }
}
@media (max-width: 767px) {
  .form {
    width: 100%;
    padding: 15px;
  }
}
.form h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin: 0;
}

.form__request {
  width: 100%;
  min-width: 315px;
}
@media (max-width: 1023px) {
  .form__request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  .form__request {
    min-width: auto;
  }
}

.form__fields-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 82%;
}
@media (max-width: 767px) {
  .form__fields-wrapper {
    width: 100%;
  }
}

.form__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 10px 0 26px;
}

.form__label {
  cursor: pointer;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  top: 20px;
  left: 20px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
@media (max-width: 1023px) {
  .form__label {
    font-size: 12px;
    line-height: 18px;
  }
}
.form__label--disabled span {
  opacity: 0.5;
}
.form__label h {
  opacity: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.form__label:hover h {
  opacity: 1;
}

.form__field {
  position: relative;
  margin-bottom: 20px;
}

.form__input,
.form__textarea {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background: #ffffff;
  border: 1px solid #C5C5C5;
  padding: 23px 15px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #000000;
}
@media (max-width: 1023px) {
  .form__input,
.form__textarea {
    font-size: 12px;
    line-height: 18px;
  }
}
.form__input:hover,
.form__textarea:hover {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 2px solid #F7F7F7;
}
.form__input:focus,
.form__textarea:focus {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 2px solid #F7F7F7;
  padding: 26px 15px 8px;
}
.form__input--error,
.form__textarea--error {
  border-radius: 10px;
  border: 1px solid #DD3232 !important;
}

.form__input:focus + label,
.form__textarea:focus + label,
.form__input:valid + label,
.form__textarea:valid + label,
.form__input--filled + label,
.form__textarea--filled + label {
  top: 5px;
  font-size: 11px;
}
.form__input:focus + label h,
.form__textarea:focus + label h,
.form__input:valid + label h,
.form__textarea:valid + label h,
.form__input--filled + label h,
.form__textarea--filled + label h {
  opacity: 1;
}

.form__input:hover + label h {
  opacity: 1;
}

.form__input {
  width: 100%;
  height: 60px;
}

.form__textarea {
  height: 52px;
  min-height: 52px;
  max-width: 100%;
  width: 100%;
  line-height: 15px;
  white-space: nowrap;
  resize: none;
}

.icon-error {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.form__error {
  position: absolute;
  top: 0;
  left: calc(100% - 27px);
  font-size: 9px;
  line-height: 100%;
  padding: 4px 6px;
  background: #FFFFFF;
  opacity: 0;
  z-index: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.icon-error:hover + .form__error,
.form__error:hover {
  opacity: 0.8;
  z-index: 1;
}

.form__length {
  position: absolute;
  font-size: 13px;
  line-height: 100%;
  opacity: 0.5;
  bottom: 32px;
  right: 15px;
}

.form__agree {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #C4C4C4;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  margin-top: 20px;
  margin-bottom: 0;
}
.form__agree a {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #555555;
}
@media (max-width: 1023px) {
  .form__agree {
    font-size: 12px;
    line-height: 18px;
  }
}

.form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin-top: 0;
}
@media (max-width: 1299px) {
  .form__send {
    margin-top: 20px;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .form__send {
    width: 100%;
  }
}

.form__file {
  width: 160px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.form__file label {
  cursor: pointer;
}
.form__file input {
  display: none;
}
.form__file span {
  color: #ffffff;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  outline: none !important;
  border: none;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.button--orange {
  background-color: #FF7F00;
  min-height: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  width: 90%;
  margin-right: auto;
}
@media (max-width: 767px) {
  .button--orange {
    width: 100%;
  }
}
.button .icon {
  stroke: #FFFFFF;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.button:hover {
  background: #C4C4C4;
}
.button:hover p {
  color: #2D2D2D;
}

.glazing__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1023px) {
  .glazing__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.glazing__page-title {
  margin-bottom: 41px;
}

.glazing__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  margin: 40px 0 15px;
}

.glazing__texts {
  width: 50.8%;
  margin-right: 9.2%;
}
@media (max-width: 1023px) {
  .glazing__texts {
    width: 100%;
    margin-right: 0;
  }
}

.glazing__text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #555555;
  margin: 0 0 10px 0;
}

.glazing__swiper-wrapper {
  position: relative;
}
.glazing__swiper-wrapper .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D6D6D6;
  top: 50%;
  left: -26px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1023px) {
  .glazing__swiper-wrapper .swiper-button-prev {
    left: 0;
  }
}
@media (max-width: 500px) {
  .glazing__swiper-wrapper .swiper-button-prev {
    display: none;
  }
}
.glazing__swiper-wrapper .swiper-button-prev:after {
  display: none;
}
.glazing__swiper-wrapper .swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: #D6D6D6;
  border-radius: 50%;
  top: 50%;
  right: -26px;
}
@media (max-width: 1023px) {
  .glazing__swiper-wrapper .swiper-button-next {
    right: 0;
  }
}
@media (max-width: 500px) {
  .glazing__swiper-wrapper .swiper-button-next {
    display: none;
  }
}
.glazing__swiper-wrapper .swiper-button-next:after {
  display: none;
}

.glazing__swiper {
  margin-top: 30px;
}
@media (max-width: 1023px) {
  .glazing__swiper {
    height: 380px;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .glazing__swiper {
    height: 250px;
    width: 100%;
  }
}

.glazing__price-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  border-bottom: 1px solid #D9D9D9;
  margin: 0;
  padding-bottom: 22px;
}

.glazing__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  padding: 9px 0;
}
.glazing__price-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}
.glazing__price-price {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #000000;
  margin: 0;
}

.glazing__prices {
  margin-top: 55px;
}

.glazing__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.glazing__wrapper {
  height: 100%;
}

.glazing__image {
  height: 100%;
}

.additional {
  margin-top: 125px;
}
@media (max-width: 1023px) {
  .additional {
    margin-top: 40px;
  }
}

.additional__items {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .additional__item {
    width: 70% !important;
  }
}

.additional__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin: 30px 0 48px;
}

.additional__link {
  min-height: 50px;
  border: 1px solid #FF7F00;
  color: #FF7F00;
  width: 205px;
  display: block;
  text-align: center;
  padding: 14px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.additional__img {
  width: 100%;
  height: 300px;
}
@media (max-width: 767px) {
  .additional__img {
    height: 250px;
  }
}
@media (max-width: 500px) {
  .additional__img {
    height: 200px;
  }
}
.additional__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.additional__wrapper {
  position: relative;
}
.additional__wrapper .button-prev {
  display: none;
}
.additional__wrapper .button-next {
  width: 50px;
  height: 50px;
  background-color: #D6D6D6;
  border-radius: 50%;
  top: 28%;
  right: -26px;
  position: absolute;
  z-index: 2;
}
.additional__wrapper .button-next:after {
  display: none;
}
@media (max-width: 1450px) {
  .additional__wrapper .button-next {
    right: 0;
  }
}
@media (max-width: 767px) {
  .additional__wrapper .button-next {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map*/